.form-main {
    width: 40%;
    margin-left: 29%;
    margin-top: 15%;
    padding: 15px;
    background: #89bdea;
    border-radius: 10px;
}

.resume {
    float: right;
    margin-top: 1px;
}

button.btn.btn-primary.button.clear-button {
    float: right;
}

